{% include 'admin_header.html' %}
 
<!-- ======= Hero Section ======= -->
<section id="hero" style="height:100px">
    <div class="hero-container">
      <div data-aos="fade-in">
		<h1>User List</h1>
      	</div>
      </div>
  </section>
<center>
    <br><br><br>
    <form action="" method="post">
        <table class="table" style="width: 500px;margin-bottom: 20rem;margin-top: 2rem;">
            <tr><th>index</th>
                <th>Name</th>
                <th>House Name</th>
                <th>Place</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Gender</th>
            </tr>
            {%for i in data['user']%}
            <tr><td>{{loop.index}}</td>
                <td>{{i['f_name']}} {{i['l_name']}}</td>
                <td>{{i['house_name']}}</td>
                <td>{{i['place']}}</td>
                <td>{{i['phone']}}</td>
                <td>{{i['email']}}</td>
                <td>{{i['gender']}}</td>
            </tr>
            {%endfor%}
        </table>
       
    </form>
    <br><br>
</center>
{% include 'footer.html' %}
