{%include 'admin_header.html'%}
{% block login %}
<!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div data-aos="fade-in">
        

        <h1>Welcome to Admin</h1>
        <!-- <h2>We create <span class="typed" data-typed-items="beautiful graphics, functional websites, working mobile apps"></span></h2> -->
        <div class="actions">
          <!-- <a href="login" class="btn-get-started">Login Here</a> -->
          <!-- <a href="#services" class="btn-services">Our Services</a> -->
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  {% endblock %}

{%include 'footer.html'%}