{%include 'admin_header.html'%}
<!-- ======= Hero Section ======= -->
<section id="hero" style="height:200px">
    <div class="hero-container">
      <div data-aos="fade-in">
		<h1>View Loandetail</h1>
      	</div>
      </div>
  </section>
<center>
	<table class="table" style="width: 500px;margin-bottom: 18rem;margin-top: 2rem;">
		<tr>
			<th>Slno,</th>
			<th>Bank</th>
			<th>Loan Name</th>
			<th>Details</th>
			<th>Interest Name</th>
			<th>Maximum Amount</th>
			
		</tr>
		{%for row in data['loan']%}
		<tr>
			<td>{{loop.index}}</td>
			<td>{{row['bank_name']}}</td>
			<td>{{row['loan_name']}}</td>
			<td>{{row['details']}}</td>
			<td>{{row['interest_name']}}</td>
			<td>{{row['max_amount']}}</td>
		</tr>
		{%endfor%}
	</table>
</center>
{%include 'footer.html'%}