{%include 'bank_header.html'%}

<!-- ======= Hero Section ======= -->
<section id="hero" style="height:200px">
    <div class="hero-container">
      <div data-aos="fade-in">
		<h1>View Loan Requests</h1>
      	</div>
      </div>
  </section>
<center>
	
	<table class="table" style="width: 500px;margin-bottom: 20rem;margin-top: 2rem;">
		<tr>
			<th>Slno,</th>
			<th>Customer Name</th>
			<th>loan details</th>
			<th>status</th>
			<th>Date Time</th>
		</tr>
		{%for row in data['request']%}
		<tr>
			<td>{{loop.index}}</td>
			<td>{{row['fname']}} {{row['lname']}}</td>
			<td>{{row['loan_name']}}</td>
			<td>{{row['status']}}</td>
			<td>{{row['date_time']}}</td>
		</tr>
		{%endfor%}
	</table>
</center>
{%include 'footer.html'%}