{%include 'bank_header.html'%}
{% block login %}
<!-- ======= Hero Section ======= -->
  <section id="hero" style="height: 500px;">
    <div class="hero-container">
      <div data-aos="fade-in">
        

        {%if data['up']%}



<center>
	<form method="post">
	<h1>update employee</h1>
	<table class="table" style="width:500px;color: white;">
			<tr>
				<th>First Name</th>
				<td><input type="text" name="fname" value="{{data['up'][0]['first_name']}}" required="" class="form-control"></td>
			</tr>
			<tr>
				<th>Last Name</th>
				<td><input type="text" name="lname" value="{{data['up'][0]['last_name']}}" required="" class="form-control"></td>
			</tr> 
			<tr>
				<th>House Name</th>
				<td><input type="text" name="house" value="{{data['up'][0]['house_name']}}" required="" class="form-control"></td>
			</tr>
			<tr>
				<th>Place</th>
				<td><input type="text" name="place" value="{{data['up'][0]['place']}}" required="" class="form-control"></td>
			</tr>
			<tr>
				<th>Gender</th>
				<td><input type="radio" name="gender" value="male">Male
					<input type="radio" name="gender" value="female">Female</td>
			</tr>
			<tr>
				<th>Phone</th>
				<td><input type="text" name="phone" value="{{data['up'][0]['phone']}}" required="" class="form-control" pattern="[0-9]{10}" required title="Please enter a valid phone number"></td>
			</tr>
			<tr>
				<th>Email</th>
				<td><input type="email" name="email" value="{{data['up'][0]['email']}}" required="" class="form-control" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required title="Please enter a valid email address"></td>
			</tr>
			<tr>
				<th>Qualification</th>
				<td><input type="text" name="qualification" value="{{data['up'][0]['qualification']}}" required="" class="form-control"></td>
			</tr>
			<!-- <tr>
				<th>Username</th>
				<td><input type="text" name="uname" value="{{data['up'][0]['username']}}" required="" class="form-control"></td>
			</tr>
			<tr>
				<th>Password</th>
				<td><input type="password" name="pass" value="{{data['up'][0]['password']}}" required="" class="form-control"></td>
			</tr> -->
			<tr>
				<td align="center" colspan="2"><input type="submit" name="update" class="btn btn-success"></td>
			</tr>
	</table>
	</form>
</center>

{%else%}

<center>
	<form method="post">
	<h1>manage employee</h1>
	<table class="table" style="width:500px;color: white;">
			<tr>
				<th>First Name</th>
				<td><input type="text" name="fname" required="" class="form-control"></td>
			</tr>
			<tr>
				<th>Last Name</th>
				<td><input type="text" name="lname" required="" class="form-control"></td>
			</tr> 
			<tr>
				<th>House Name</th>
				<td><input type="text" name="house" required="" class="form-control"></td>
			</tr>
			<tr>
				<th>Place</th>
				<td><input type="text" name="place" required="" class="form-control"></td>
			</tr>
			<tr>
				<th>Gender</th>
				<td><input type="radio" name="gender" value="male">Male
					<input type="radio" name="gender" value="female">Female</td>
			</tr>
			<tr>
				<th>Phone</th>
				<td><input type="text" name="phone" required="" class="form-control" pattern="[0-9]{10}" required title="Please enter a valid phone number"></td>
			</tr>
			<tr>
				<th>Email</th>
				<td><input type="email" name="email" required="" class="form-control" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required title="Please enter a valid email address"></td>
			</tr>
			<tr>
				<th>Qualification</th>
				<td><input type="text" name="qualification"  required="" class="form-control"></td>
			</tr>
			<tr>
				<th>Username</th>
				<td><input type="text" name="uname"  required="" class="form-control"></td>
			</tr>
			<tr>
				<th>Password</th>
				<td><input type="password" name="pass"  required="" class="form-control"></td>
			</tr>
			<tr>
				<td align="center" colspan="2"><input type="submit" name="submit" class="btn btn-success"></td>
			</tr>
	</table>
	</form>
</center>

{%endif%}


</div>
</div>
</div>
</section><!-- End Hero -->

{% endblock %}


<center>
	<h1 style="color: black;">view bank</h1>
	<table class="table" style="width:500px;color:black;">
		<tr>
			<th>slno.</th>
			<th>employee name</th>
			<th>house name</th>
			<th>place</th>
			<th>gender</th>
			<th>phone</th>
			<th>email</th>
			<th>qualification</th>
		</tr>
		{%for row in data['employee']%}
		<tr>
			<td>{{loop.index}}</td>
			<td>{{row['first_name']}} {{row['last_name']}}</td>
			<td>{{row['house_name']}}</td>
			<td>{{row['place']}}</td>
			<td>{{row['gender']}}</td>
			<td>{{row['phone']}}</td>
			<td>{{row['email']}}</td>
			<td>{{row['qualification']}}</td>
			<td><a href="?action=update&id={{row['employee_id']}}&lid={{row['login_id']}}" class="btn btn-success">Update</a></td>
			<td><a href="?action=delete&id={{row['employee_id']}}&lid={{row['login_id']}}" class="btn btn-danger">Delete</a></td>
		</tr>
		{%endfor%}
	</table>
</center>


<style type="text/css">
	tr,td,th{
		border: 0px !important;
	}
</style>

{%include 'footer.html'%}